.container {
    background-color:rgb(110, 203, 208);
    width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / .2);
    color: white;
}

.container input {
    border: none;
    padding: 6px 16px;
    border-radius: 12px 0 0 12px;
}

.container button{
    background-color:rgb(116, 169, 169);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 6px 16px;
    border-radius: 0 12px 12px 0;
    transition: .5s;
}

.container button:hover{
    background-color:rgb(95, 143, 143);
    border-radius: 0 12px 12px 0;
}

.container li{
    margin: 6px;
    list-style-type: circle;
    font-size: 1.2rem;
}